In [26]:
import pandas as pd

In [28]:
first = pd.read_csv("1-corrected-19000-22000.csv")
first.drop(columns = "Unnamed: 0", inplace = True)

In [29]:
first

                                                      0
0     well, this, is, no, surprise, ,, i, spoke, abo...
1                    fans, about, #, couid, #, vaccines
2     four, dose, vaccine, against, couid, thanks, d...
3     india, ', i, fight, against, couid, -, ninetee...
4     #, justjoking, #, couid, #, precautiondose, is...
...                                                 ...
2995  pfizer, data, suggests, third, dose, couid, -,...
2996  smiling_face_with_heart, -, eyes, took, a, sin...
2997  there, is, no, plan, introduce, #, vaccine, pa...
2998  #, nocaptionneeded, ..., red_circle, blue_circ...
2999  I, am, at, hah, couid, -, nineteen, vaccine, c...

[3000 rows x 1 columns]

In [30]:
second = pd.read_csv("2-corrected-22000-25000.csv")
second.drop(columns = "Unnamed: 0", inplace = True)
second

                                                      0
0     vaccinated, rainbow, #, vaccinated, #, covidva...
1     very, unfortunate, situation, ., following, st...
2     statement, by, stating, all, australians, can,...
3     true, dat, ., but, also, chances, that, many, ...
4     before, :, couid, -, nineteen, vaccines, got, ...
...                                                 ...
2995  now, reportedly, more, than, five hundred, dos...
2996  i, hope, am, gives, update, #, vaccine, procur...
2997  I, have, taken, first, dose, couid, -, ninetee...
2998  doctors, duty, &, amp, ;, #, couid, patients, ...
2999  infectious, diseases, expert, david, lye, call...

[3000 rows x 1 columns]

In [31]:
third = pd.read_csv("3-corrected-25000-28000.csv")
third.drop(columns = "Unnamed: 0", inplace = True)
third

                                                      0
0     took, my, est, dose, couid, nineteen, vaccine,...
1     You, can, get, the, vaccine, by, booking, a, s...
2     I, am, keep, trying, get, appointment, couid, ...
3     he, old, i, get, couid, vaccine, if, my, age, ...
4     good, initiative, people, who, are, not, takin...
...                                                 ...
2995  same, tweets, against, false, propaganda, agai...
2996  waiving, patents, couid, vaccines, will, not, ...
2997  ", many, scientists, now, believe, couid, -, n...
2998  mix, match, couid, vaccine, study, finds, incr...
2999  I, am, soo, into, couid, news, these, days, th...

[3000 rows x 1 columns]

In [33]:
fourth = pd.read_csv("4-corrected-28000-31000.csv")
fourth.drop(columns = "Unnamed: 0", inplace = True)
fourth

                                                      0
0     cac, says, twenty-eight, blood, clot, cases, ,...
1     biden, urges, parents, get, kids, vaccinated, ...
2     u, ., i, ., cac, panel, backs, couid, -, ninet...
3     cac, panel, endorses, pfizer, ', i, couid, vac...
4     we, should, train, amazon, delivery, guys, giv...
...                                                 ...
2995  no, couid, so, far, ., taken, first, dose, vac...
2996  petition, :, say, ', no, ', couid, ', vaccine,...
2997  #, covid19india, #, covidvaccine, #, berojgar_...
2998  no, ..., for, fact, ...., it, is, rags, own, t...
2999  india, will, remember, how, allowed, rumba, me...

[3000 rows x 1 columns]

In [34]:
fifth = pd.read_csv("5-corrected-31000-34000.csv")
fifth.drop(columns = "Unnamed: 0", inplace = True)
fifth

                                                      0
0     here, you, go, please, stop, spreading, false,...
1     not, vaccine, ,, this, is, medicine, couid, .,...
2     sir, i, am, willing, donate, blood, before, ta...
3     newswatch, :, cac, committee, meet, i, &, amp,...
4     doctor, cac, advisory, panel, expects, i, &, a...
...                                                 ...
2995  who, was, earlier, snapped, arriving, at, lila...
2996  Use, #, covidvaccine, #, corona, wilted_flower...
2997  given, harsh, socio, -, political, ecosystem, ...
2998  blocked, &, amp, ;, bruised, chickies, ., effi...
2999  eu, will, tighten, restrictions, couid, vaccin...

[3000 rows x 1 columns]

In [35]:
sixth = pd.read_csv("6-corrected-34000-38000.csv")
sixth.drop(columns = "Unnamed: 0", inplace = True)
sixth

                                                      0
0     selangor, journal, |, astrazeneca, couid, -, n...
1     couid, -, nineteen, vaccine, form, pill, is, s...
2     good, vaccinate, ., better, vaccine, all, fron...
3     sir, please, grant, permission, couid, vaccine...
4     health, authorities, have, been, urged, increa...
...                                                 ...
3995  i, am, afraid, that, infection, will, not, spr...
3996  wait, is, now, over, :, delhi, ,, gujaratis, ,...
3997  i, think, ,, modi, ji, i, pass, disbar, twenty...
3998  first, #, consignment, #, couid, -, nineteen, ...
3999  very, good, news, assay, finally, couid, vacci...

[4000 rows x 1 columns]

In [36]:
frames = [first, second, third, fourth, fifth, sixth]
result = pd.concat(frames)
result

                                                      0
0     well, this, is, no, surprise, ,, i, spoke, abo...
1                    fans, about, #, couid, #, vaccines
2     four, dose, vaccine, against, couid, thanks, d...
3     india, ', i, fight, against, couid, -, ninetee...
4     #, justjoking, #, couid, #, precautiondose, is...
...                                                 ...
3995  i, am, afraid, that, infection, will, not, spr...
3996  wait, is, now, over, :, delhi, ,, gujaratis, ,...
3997  i, think, ,, modi, ji, i, pass, disbar, twenty...
3998  first, #, consignment, #, couid, -, nineteen, ...
3999  very, good, news, assay, finally, couid, vacci...

[19000 rows x 1 columns]

In [43]:
result.to_csv('india-corrected-19000-38000.csv', index=False)

In [23]:
import os
import pandas as pd

masterdf = pd.DataFrame()

for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        masterdf = masterdf.append(pd.read_csv(file))

masterdf.to_csv('india-corrected-19000-38000.csv', index=False)

In [24]:
df = pd.read_csv("india-corrected-19000-38000.csv")
df.head()

   Unnamed: 0                                                  0
0           0  cac, says, twenty-eight, blood, clot, cases, ,...
1           1  biden, urges, parents, get, kids, vaccinated, ...
2           2  u, ., i, ., cac, panel, backs, couid, -, ninet...
3           3  cac, panel, endorses, pfizer, ', i, couid, vac...
4           4  we, should, train, amazon, delivery, guys, giv...

In [25]:
df

       Unnamed: 0                                                  0
0               0  cac, says, twenty-eight, blood, clot, cases, ,...
1               1  biden, urges, parents, get, kids, vaccinated, ...
2               2  u, ., i, ., cac, panel, backs, couid, -, ninet...
3               3  cac, panel, endorses, pfizer, ', i, couid, vac...
4               4  we, should, train, amazon, delivery, guys, giv...
...           ...                                                ...
18995        2995  now, reportedly, more, than, five hundred, dos...
18996        2996  i, hope, am, gives, update, #, vaccine, procur...
18997        2997  I, have, taken, first, dose, couid, -, ninetee...
18998        2998  doctors, duty, &, amp, ;, #, couid, patients, ...
18999        2999  infectious, diseases, expert, david, lye, call...

[19000 rows x 2 columns]

In [3]:
df.describe()

           review_id
count  224819.000000
mean    40249.121827
std     23157.562754
min         0.000000
25%     20225.500000
50%     40359.000000
75%     59894.500000
max     81040.000000

In [6]:
df['subcategory'].value_counts()

meat                         71818
chocolate                    33753
cheese                       28892
mylk                         21899
ice cream                    20565
yogurt                       15879
moisturizers                 10278
cleansers, scrubs & masks     9446
seafood                       5129
eggs                          3747
face                          3413
Name: subcategory, dtype: int64

In [9]:
sample_df = df.sample(n = 75000, random_state = 99)

In [10]:
sample_df

,review_id,brand_category,category,subcategory,text,rating,product_name,brand_name,hashtags_removed,languages,new_text,new_languages,sentences_list
196075,72217,food,"alternative eggs, meat & seafood",meat,This is also very tasty and I like the juxtapo...,"{'taste': 5, 'presentation': 5, 'nutrition': 5...",sweet paprika & chille extra fim tofu,tofuud,This is also very tasty and I like the juxtapo...,ENGLISH,This is also very tasty and I like the juxtapo...,ENGLISH,Works well.
20850,15382,food,frozen,ice cream,"Was on deal for £2 at Holland and Barrett, it'...","{'taste': 5, 'presentation': 5, 'nutrition': 4...",chocolate salted caramel,booja-booja,"Was on deal for £2 at Holland and Barrett, it'...",ENGLISH,"Was on deal for £2 at Holland and Barrett, it ...",ENGLISH,Eating it all in one
211824,78104,food,"alternative eggs, meat & seafood",seafood,Would recommend to best friend. \r\n\r\nLike t...,"{'taste': 4, 'originality': 4, 'presentation':...",2 thai style fishless cakes,asda plant based,Would recommend to best friend. Like the mushy...,ENGLISH,Would recommend to best friend. Like the mushy...,ENGLISH,Would recommend to best friend.
173395,63562,food,dairy alternatives,cheese,This product is very nice. It's good on just a...,"{'taste': 5, 'presentation': 5, 'nutrition': 5...",garlic & herb affair,wildwestland,This product is very nice. It's good on just a...,ENGLISH,This product is very nice. It is good on just ...,ENGLISH,"It is good on just a slice of bread, but this ..."
65844,29844,food,snacks,chocolate,These are UNREAL … haha ! Seriously these are...,"{'taste': 5, 'presentation': 5, 'nutrition': 5...",dark chocolate peanut butter cups,unreal,These are UNREAL … haha ! Seriously these are ...,ENGLISH,These are UNREAL … haha ! Seriously these are ...,ENGLISH,I love that they are individually packaged.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165600,60788,food,"alternative eggs, meat & seafood",meat,"🇨🇵 Nouveau produit, nouvelle découverte !! Kok...","{'taste': 5, 'originality': 5, 'presentation':...",veg-picnic,kokiriki,"🇨🇵 Nouveau produit, nouvelle découverte !! Kok...","FRENCH, Unknown, ENGLISH","United_Kingdom New product, new discovery!! Ko...",ENGLISH,"Usually, what recalls in memories of what I at..."
107650,42579,health and beauty,body & skincare,moisturizers,This is very good for soothing burns and aller...,{'overall': 5},soothing canna oil balm,fun and vital,This is very good for soothing burns and aller...,ENGLISH,This is very good for soothing burns and aller...,ENGLISH,This is very good for soothing burns and aller...
222896,80294,food,dairy alternatives,cheese,"looks like a package of sweaty bologna, but is...","{'taste': 4, 'originality': 5, 'presentation':...",smoked english farmhouse style,miyoko's creamery,"looks like a package of sweaty bologna, but is...",ENGLISH,"looks like a package of sweaty bologna, but is...",ENGLISH,9090 challenge 73
5556,10006,food,snacks,chocolate,If you’ve missed mini eggs then you’re in luck...,"{'taste': 5, 'presentation': 5, 'nutrition': 3...",doisy & dam good eggs,doisy & dam,If you’ve missed mini eggs then you’re in luck...,ENGLISH,If you’ve missed mini eggs then you’re in luck...,ENGLISH,Just with dark chocolate instead of milk.
120710,47215,food,dairy alternatives,cheese,now this is one item you can slip in to omni f...,"{'taste': 5, 'presentation': 5, 'nutrition': 4...",nurishh plant based alternative to camembert,nurishh,now this is one item you can slip in to omni f...,ENGLISH,now this is one item you can slip in to omni f...,ENGLISH,now this is one item you can slip in to omni f...

In [11]:
sample_df['subcategory'].value_counts()

meat                         23938
chocolate                    11175
cheese                        9631
mylk                          7316
ice cream                     6932
yogurt                        5262
moisturizers                  3443
cleansers, scrubs & masks     3111
seafood                       1760
eggs                          1270
face                          1162
Name: subcategory, dtype: int64

In [12]:
sample_df.to_csv('sentences_sample_data.csv', index = False)