In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("corrected-0-3000.csv")
df

      Unnamed: 0                                                  0
0              0  soniya, mummy, hot, toh, couid, me, magic, sti...
1              1  #, pickins, :, about, twenty, ,, zero, childre...
2              2  previous, couid, -, nineteen, infection, i, bu...
3              3  india, i, i, couid, -, nineteen, vaccination, ...
4              4  i, got, call, office, principal, commissioner,...
...          ...                                                ...
2995        2995  couid, -, nineteen, vaccination, patients, rec...
2996        2996  respected, madam, ,, i, am, do, ., primal, dho...
2997        2997  landmark, achievement, single, day, ., distric...
2998        2998  respected, sir, ,, till, biripata, go, no, vac...
2999        2999  as, we, know, festive, season, is, around, ,, ...

[3000 rows x 2 columns]

In [4]:
import os
import pandas as pd

masterdf = pd.DataFrame()

for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        masterdf = masterdf.append(pd.read_csv(file))

masterdf.to_csv('clara-india-compiled.csv', index=False)

In [5]:
df = pd.read_csv("clara-india-compiled.csv")
df

       Unnamed: 0                                                  0
0               0  with, islamabad, showing, best, results, among...
1               1  -, must, appreciate, smooth, operation, ,, cou...
2               2              couid, vaccination, during, pregnancy
3               3  he, has, not, said, anything, wrong, ., not, o...
4               4  can, you, define, numbers, denominators, atlea...
...           ...                                                ...
18995        2995  #, gujaratis, reports, thirteen, ,, one hundre...
18996        2996  chief, minister, is, yediyurappa, has, approve...
18997        2997  toolkit, we, all, must, use, this, fight, agai...
18998        2998  thank, you, all, support, guidance, provided, ...
18999        2999  everyone, above, age, eighteen, shall, be, eli...

[19000 rows x 2 columns]

In [6]:
df.sort_values(by=['Unnamed: 0'])

       Unnamed: 0                                                  0
0               0  with, islamabad, showing, best, results, among...
13000           0  soniya, mummy, hot, toh, couid, me, magic, sti...
10000           0  thank, got, my, first, dosage, #, indiafightsc...
7000            0  hats, two, officials, &, amp, ;, health, worke...
6000            0  i, ', i, say, that, even, more, ., fully, vacc...
...           ...                                                ...
5999         2999  addressing, fears, around, couid, vaccination,...
9999         2999  as, part, efforts, ensure, staff, across, do, ...
12999        2999  all, sinovac, vaccine, recipients, senior, cit...
15999        2999  as, we, know, festive, season, is, around, ,, ...
18999        2999  everyone, above, age, eighteen, shall, be, eli...

[19000 rows x 2 columns]