In [1]:
import pandas as pd

In [41]:
df1 = pd.read_csv("../India/india_vaccine_vaccination.csv")
df1

                                                    Text
0      soniya mummy hoti toh covid me magic stick ghu...
1      #pickids : about 20,000 children perlis eligib...
2      previous covid-19 infection – but not vaccinat...
3      india’s covid-19 vaccination coverage crosses ...
4      i got call office principal commissioner cgst ...
...                                                  ...
43356                 so, vaccine approved #covidvaccine
43357  scientific reasons behind many indian supersti...
43358  rujuk balik artikel . emas dianggap pelaburan ...
43359  nothing can be 100% sure , not even whether yo...
43360  pneumococcal vaccine will be available all kli...

[43361 rows x 1 columns]

In [42]:
df2 = pd.read_csv("../India/india_vaccine_types.csv")
df2

                                                    Text
0      astrazeneca sees $4b covid vaccine sales as re...
1      covid product sales, profit margins would drop...
2      , , accounts 52.3% capitalization all companie...
3      astrazeneca warns falling covid treatment sale...
4      astrazeneca forecasts higher 2022 sales after ...
...                                                  ...
19148  russian ambassador india nikolay r.kudashev sp...
19149  dr reddy's laboratories russian direct investm...
19150                                    konuş abla beee
19151                sputnik v list main kyon nahi hai .
19152                                                NaN

[19153 rows x 1 columns]

In [43]:
df3 = pd.read_csv("../India/india_antivax.csv")
df3

                                                    Text
0      only 15% africa has received at least one dose...
1      anti-mandate is not anti-vaccination. this twe...
2      aussie government confirmed novak had valid ex...
3      meet rld hate mongers squad member kulwant sin...
4      i’m pro vaccination, but anti vaccination mand...
...                                                  ...
43473  thanks your appreciation valuable feedback abo...
43474  i can’t wait get my 2nd dose #covidvaccine ove...
43475  thanks your appreciation valuable feedback abo...
43476  getting my #covidvaccine jab 3rd batch today w...
43477  vaccine definitely prevents severe infection, ...

[43478 rows x 1 columns]

In [44]:
frames = [df1, df2, df3]
result = pd.concat(frames)
result

                                                    Text
0      soniya mummy hoti toh covid me magic stick ghu...
1      #pickids : about 20,000 children perlis eligib...
2      previous covid-19 infection – but not vaccinat...
3      india’s covid-19 vaccination coverage crosses ...
4      i got call office principal commissioner cgst ...
...                                                  ...
43473  thanks your appreciation valuable feedback abo...
43474  i can’t wait get my 2nd dose #covidvaccine ove...
43475  thanks your appreciation valuable feedback abo...
43476  getting my #covidvaccine jab 3rd batch today w...
43477  vaccine definitely prevents severe infection, ...

[105992 rows x 1 columns]

In [45]:
result.to_csv("../india_combined.csv", index = False)

In [46]:
india = pd.read_csv("../india_combined.csv")

In [47]:
india

                                                     Text
0       soniya mummy hoti toh covid me magic stick ghu...
1       #pickids : about 20,000 children perlis eligib...
2       previous covid-19 infection – but not vaccinat...
3       india’s covid-19 vaccination coverage crosses ...
4       i got call office principal commissioner cgst ...
...                                                   ...
105987  thanks your appreciation valuable feedback abo...
105988  i can’t wait get my 2nd dose #covidvaccine ove...
105989  thanks your appreciation valuable feedback abo...
105990  getting my #covidvaccine jab 3rd batch today w...
105991  vaccine definitely prevents severe infection, ...

[105992 rows x 1 columns]

In [48]:
usa = pd.read_csv("../usa_combined.csv")
usa

                                                     Text
0       want find way end racism try force people inje...
1       this child almost died tetanus, spent months h...
2       juste se rappeler m. leblanc la pression que l...
3       you would expect cases rise significantly, cou...
4       depends whether vaccination status is embedded...
...                                                   ...
424148           do it others.... 💪🎉💉🤙 #vaccinesaveslives
424149  got my first pfizer shot today. feeling well g...
424150  #fauciouchie #2 #vaccinated #vaccinesaveslives...
424151  yay 🙌🏻 congrats dr. j being fully vaccinated i...
424152  we all have do our part end this pandemic— get...

[424153 rows x 1 columns]

In [49]:
frames = [india, usa]
result = pd.concat(frames)
result

                                                     Text
0       soniya mummy hoti toh covid me magic stick ghu...
1       #pickids : about 20,000 children perlis eligib...
2       previous covid-19 infection – but not vaccinat...
3       india’s covid-19 vaccination coverage crosses ...
4       i got call office principal commissioner cgst ...
...                                                   ...
424148           do it others.... 💪🎉💉🤙 #vaccinesaveslives
424149  got my first pfizer shot today. feeling well g...
424150  #fauciouchie #2 #vaccinated #vaccinesaveslives...
424151  yay 🙌🏻 congrats dr. j being fully vaccinated i...
424152  we all have do our part end this pandemic— get...

[530145 rows x 1 columns]

In [50]:
result.to_csv("../all_tweets.csv", index = False)